.label{
  color: #fff;
  margin: 0 1rem;
}

.button{
  background-color: green;
  border: none;
  color: #fff;
  margin:1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s;
}

.button:hover{
  background-color: rgb(0, 95, 0);
}

.cancel{
  background-color: #e9e9e9;
  border: none;
  color: #fff;
  margin:1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  transition: 0.5s;
}

.cancel:hover{
  background-color: #fff;
  color: red;
}

.date, .input{
  border: none;
  color: #777777;
  padding: 0.6rem;
  border-radius: 14px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.393);
}
.date::-webkit-calendar-picker-indicator{
  cursor: pointer;

}

.date:focus, .input:focus{
  outline-color: #333;
  color: #000;
}

/* loading */
.loading{
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 100px;
  color: #ccc;
  z-index: 2;
}

.loading-spiner {
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* cards das tarefas */


.tasksCard{
  display: flex;
  width: 800px;
  height: 70px;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ccc;
  color: #333;
  border-radius: 0.5rem;
}

.tasksCard button{
  border: none;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.4rem 0.6rem;
  margin: 0 .2rem;
  border-radius: 1rem;
  transition: 0.4s;
}

.text{
  display: flex;
  flex: 1;
  height: 60px;
  margin: 0;
  justify-content: space-around;
  align-items: center;
}

.text p{
  margin: 0;
  font-size: 18px;
}

.btnCheck{
  color: green;
}

.btnCheck:hover{
  background-color: green;
  color: #fff;
}

.btnPen{
  color: #5e5e5e;
}
.btnPen:hover{
  color: #333;
  background-color: #999;
}

.btnXmark{
  color: #777;
}

.btnXmark:hover{
  color: red;
  background-color: #fff;
}

.completedTask{
  background-color: rgb(123, 205, 0);
  opacity: 0.3;
  transition: 0.3s ease;
  color: #fff;
  font-weight: 600;
}

.completedTask:hover{
  opacity: 1;
}

.confirmContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.confirmContainer .buttons button{
  margin: 1rem;
  padding: .5rem;
  border: none;
  border-radius: .5rem;
  font-weight: 500;
  background-color: #f7f8f9;
  color: #ccc;
  cursor: pointer;
  transition: 0.4s ease;
}

.confirmContainer .buttons .cancelButton:hover{
  color: #fff;
  background-color: rgb(226, 0, 0);
}

.confirmContainer .buttons .confirmButton:hover{
  color: #fff;
  background-color: green;
}

.confirmLoading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media (min-width: 320px) and (max-width: 674px) {
  .tasksCard{
    width: 300px;
  }
  .text p{
    font-size: 12px;
    margin-right: 0.3rem;
  }
  .tasksCard button{
    font-size: 1rem;
    padding: 0.3rem;
  }
  .form form > div{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input, .date{
    margin-bottom: 0.7rem;
  }
  .confirmContainer{
    width: 360px;
  }
}
@media(min-width: 675px) and (max-width: 1000px) {
  .tasksCard{
    width: 650px;
  }
  .text p{
    font-size: 16px;
    margin-right: 0.3rem;
  }
  .tasksCard button{
    font-size: 1rem;
    padding: 0.6rem;
  }
  .form form > div{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input, .date{
    margin-bottom: 0.7rem;
  }
  .confirmContainer{
    width: 360px;
  }
}
